@charset "UTF-8";
/**
 * Style
 * Version 0.0.1  
 * build: Thu Jul 29 09:47:23 CDT 2021
 * Maintained by Department of Human Oncology, UW–Madison, cfschulte@humonc.wisc.edu
 * 
 * sass --no-source-map style.scss ../style.css
 * grrr  npx node-sass -o css style.scss
 * grrr  npx node-sass --no-source-map style.scss ../style.css
 */
html, body {
  font-family: "Helvetica", "Helvetica Neue", "Helvetica", "Arial";
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

article {
	width: 90%;
}

h1 {
  padding-left: 1em; }

h2 {
  font-size: 1.5em;
  padding-left: 0.5em; }

h3 {
  font-size: 1.25em;
  padding-left: 0.5em; }

.working_display {
    width: 700px;
    margin: auto;
}

#quote {
    display: block;
}

#source{
    float: right;
}

#the_source {
    width:95%;
}
input[type="text"]#text_source_edit {
    width: 690px;
    margin: auto;
}
textarea{
    width: 690px;
    height: 8em;
    margin: auto;
}


.colored_bg {
	background-color: oklch(80% 0.124 204.2 / 97.42%);
}

.width_85 {
  width: 85%; }

.width_80 {
  width: 80%; }

.width_75 {
  width: 75%; }

.width_70 {
  width: 70%; }

.width_60 {
  width: 60%; }

.width_50 {
  width: 50%; }

.width_45 {
  width: 45%; }

.width_40 {
  width: 40%; }

.width_30 {
  width: 30%; }

.width_20 {
  width: 20%; }

.width_10 {
  width: 10%; }

.height_3em {
  height: 3em; }

.smaller_font {
  font-size: 90%; }

.width_spacer {
  width: 10em;
  padding: 0 2em; }

span.width_50 {
  display: inline-block; }

span.width_45 {
  display: inline-block; }

span.width_40 {
  display: inline-block; }

span.width_30 {
  display: inline-block; }

.pad_4px {
  padding: 4px; }

.pad_half_em {
  padding: 0.5em; }

.left_indent {
  padding-left: 1em; }

.margin_4px {
  margin: 4px; }

.margin_10 {
  margin: 10px; }

.centered {
  text-align: center; }

.full_centered {
  width: 100%;
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both;
  display: block; }

.inline {
  display: inline; }

.hidden {
  display: none; }

.underscored {
  border-bottom: 1px solid black; }

/*************************** Flex exp *******************************/
.flex_container_100 {
  display: flex;
  /* or inline-flex */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row; }

.flex_container {
  display: flex;
  /* or inline-flex */
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  justify-content: space-evenly;
  flex-direction: row; }

.flex_container_head {
  display: flex;
  /* or inline-flex */
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  flex-direction: row; }

.flex_container_padded {
  display: flex;
  /* or inline-flex */
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  justify-content: space-evenly;
  flex-direction: row; }

.flex_item_4em {
  flex-basis: 4em;
  padding: 3px; }

.flex_item_6em {
  flex-basis: 6em;
  padding: 3px; }

.flex_item_8em {
  flex-basis: 8em;
  padding: 3px; }

.flex_item_10em {
  flex-basis: 10em;
  padding: 3px; }

.flex_item_15em {
  flex-basis: 15em;
  padding: 3px; }

.flex_item_25 {
  flex-basis: 25%;
  padding: 3px; }

.flex_item_33 {
  flex-basis: 33%;
  padding: 3px; }

.flex_item_40 {
  flex-basis: 40%;
  padding: 3px; }

.flex_item_49 {
  flex-basis: 49%;
  padding: 3px; }

.flex_item_60 {
  flex-basis: 60%;
  padding: 3px; }

.flex_item_80 {
  flex-basis: 80%;
  padding: 3px; }

.flex_item_90 {
  flex-basis: 90%;
  padding: 3px; }

.flex_item_95 {
  flex-basis: 95%;
  padding: 3px; }

.flex_item_100 {
  flex-basis: 100%;
  order: 6;
  padding: 3px; }

/*************************** Grid exp *******************************/
.grid_container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2fr 1fr ; 
  }

.grid_container > div {
/* 
  background-color: #EDE7F6;
 */
  padding 0.5em;
}

#add_remove_dialog, #edit_contact_dialog {
  margin-bottom: 1em; }

/** TOP **/
.page_header {
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 10px #9B0000 solid;
  width: 100%;
  background-color: #cfcfcf;
  z-index: 10;
  opacity: 1.0;
  position: fixed; }

.page_header h1 {
  vertical-align: top;
  overflow: hidden;
  display: inline;
  float: left; }

.page_header ul {
  margin: 5px; }

.ticket_ref {
  text-align: left; }

.ticket_date_ref {
  width: 5em;
  margin-left: 1em; }

.no_phi {
  max-width: 20em;
  padding: 0 1.5em;
  font-size: 0.9em; }

/*  Align the date inputs for the orders list */
/*  inventory storage control */
li.compact {
  text-decoration: none;
  list-style-type: none;
  font-size: 0.9em; }

ul.horizontal li {
  padding: 0 1em;
  text-decoration: none;
  list-style-type: none;
  display: inline; }

.menubtn_offset {
  margin-left: 6em; }

.menubtn, .menubtn a {
  background-color: #0479a8;
  color: #dadfe1;
  padding: 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none; }

/* menu button on hover & focus */
.menubtn:hover, .menubtn:focus, .menubtn:hover a {
  background-color: #b9bdc1; }

/* The container <div> - needed to position the menu content */
/* 
.menu {
    position: relative;
    display: inline-block;
}
 */
.discusion_comment {
  margin-top: 1em;
  margin-right: 20px;
  margin-left: 1em;
  border-top: 3px solid black; }

.report_comment {
  margin-top: 1em;
  margin-right: 20px;
  margin-left: 1em;
  border-top: 1px dashed #333; }

.main_comment {
  margin: auto;
  padding: 1em 0;
  width: 80%; }

.extra_comment {
  float: left;
  width: 20%;
  text-align: center; }

.edit_note, .done_edit_note {
  float: right; }

.inform {
  color: #2aa192;
  font-weight: bolder; }

select.select_privilege_edit {
  text-align: center; }

.delete_button, .edit_button {
  font-size: 0.8em;
  text-decoration: none;
  text-align: center;
  padding: 0 0.5em;
  border: 1px solid #555;
  border-radius: 4px; }

a.edit_button:link, a.edit_button.visited, a.edit_button.active {
  color: #222; }

/* used for enabling and disabling the print button */
.disabled_link {
  color: #444;
  background-color: #777;
  pointer-events: none;
  cursor: default; }

.left_padded {
  margin-left: 3em; }

/* 
General link buttos
 */
td.link_button {
  width: 75px;
  text-align: center; }

td.link_button a:link, td.link_button a:visited, td.link_button a:active {
  color: #333366;
  background-color: #DBE1DA;
  display: block;
  text-decoration: none;
  border: 2px solid #aaa;
  border-radius: 2px; }

td.link_button a:hover {
  color: #000;
  background-color: #e8e4d8;
  display: block;
  text-decoration: none;
  border-radius: 4px; }

tr td, input {
  text-align: left; }

/*** LOWER PORTION LAYOUT ***/
#wrapper {
  margin-top: 6em;
  position: relative;
  padding-top: 2.4em; }

/*** LOWER PORTION LAYOUT ***/
/* The storage grids need a little more space for extra actions */
#wrapper_storage {
  margin-top: 7em; }

.display {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 1.5em;
  overflow-x: scroll;
  overflow-y: scroll; }

/** Basic db table display **/
.db_table_list {
  min-width: 900px; }

.table_table {
  width: 90%;
  font-size: 80%;
  margin: auto; }

.table_table thead {
  background-color: #e4e4e4; }

.odd_row {
  background-color: #eea; }

/* 
Specific for the users table
 */
.table_table td {
  border-bottom: 1px #333 solid;
  border-right: 1px #333 solid; }

.table_table tr:hover {
  background-color: #ffffdd; }

.center {
  text-align: center;
  vertical-align: middle; }

th.header {
  background-image: url(/build_lab_inventory/js/themes/blue/bg.gif);
  cursor: pointer;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 15px;
  border-right: 1px solid #dad9c7;
  margin-left: -1px; }

/* show the status in the dashboard */
.status_fully_operational {
  color: #1cab0c; }

.status_limited_operations {
  color: #bdc32e; }

.status_operational_issues_pending {
  color: #e49a0c; }

.status_not_operational {
  color: #9B0000; }

.status_released_to_clinic {
  color: #1cab0c; }

.status_not_released {
  color: #9B0000; }

/* 
For the biochemical_index msds selection
 */
.iblock {
  display: inline-block;
  position: fixed; }

#draggable_file_list_msds, #draggable_file_list_bci, #draggable_file_list_abi {
  float: right;
  margin-left: 46%;
  display: inline-block;
  vertical-align: top;
  width: 45%;
  padding: 10px;
  margin-bottom: 1em;
  border: 1px solid #aaaaaa;
  overflow-y: scroll; }

.drag_to {
  vertical-align: top;
  width: 90%;
  height: 2em;
  padding: 10px;
  background-color: #FEFEFE;
  border: 1px solid #aaaaaa; }

#form_wrap {
  min-width: 400px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  background-color: #FBF9F9; }

span.tag {
  font-weight: bold;
  display: inline-block; }

span.short_tag {
  font-weight: bold;
  display: inline-block;
  padding-top: 0.5em;
  border-bottom: 1px solid black; }

span.tag_expanded {
  font-weight: bold;
  display: inline-block;
  width: 160px;
  padding-top: 0.5em;
  border-bottom: 1px solid black; }

span.tag_long {
  font-weight: bold;
  display: inline-block;
  width: 220px;
  padding-top: 0.5em;
  border-bottom: 1px solid black; }

span.info {
  padding: 0.5em 0.5em 0 0; }

/* 
textarea {
  margin: auto;
  height: 8em;
  width: 95%; }
 */

table#physicist_table td:first-child {
  width: 10%; }

table#physicist_table td:nth-child(2) {
  width: 30%; }

table#physicist_table td:nth-child(3) {
  width: 20%; }

table#physicist_table td:nth-child(4) {
  width: 40%; }


.inline_group {
  margin: 10px;
  display: inline-block;
  text-align: center; }

.thumb_wrapper {
  display: inline-block; }

@media print {
  html {
    margin-top: 2em;
    padding: 0;
    width: 8.5in;
    height: 10.5in;
    overflow: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
  #display {
    position: absolute;
    padding: 2.0em; }
  .printable {
    background-color: #FFF;
    margin-top: -1em;
    margin-left: auto;
    margin-right: auto; }
  #wrapper {
    margin-top: -6em; }
  #form_wrap {
    margin: 0;
    background-color: #FFF; }
  .page_header {
    display: none;
    height: 0;
    visibility: hidden;
    width: 0; }
  .blanket_orders {
    display: none !important; }
  #side_menu {
    display: none !important; }
  .home_button, .faux_button, .semi_faux, .faux_faux_button, button * {
    display: none !important; }
  a {
    display: none !important; }
  .dropdown {
    display: none !important; }
  .additional_display {
    display: none !important; }
  input[type=text] {
    border: none;
    border-bottom: 2px solid #000000; }
  input[type=submit] {
    display: none; }
  .main-menu, #side_menu {
    display: none !important; } }
